.container {
  padding: 0 2rem;
}

.verticallyAlligned {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  height: 20px;
  width: 20px;
}

.infoContainer {
  margin-top: 1.6rem;
  color: var(--info);
  display: flex;
  gap: 1.5rem;
}