.container {
  padding: 0 2rem;
}

.posts {
  max-width: 624px;
  margin: 1rem auto 0;

  a + a {
    margin-top: 3rem;
  }

  a:nth-last-child(2) {
    margin-bottom: 3rem;
  }
}

.title {
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.75rem;
  color: var(--heading);
}

.description {
  line-height: 1.325rem;
  font-size: 1.125rem;
}

.active {
  position: static;
  opacity: 1;
  visibility: visible;
}

.hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.loadButton {
  color: var(--highlight);
  font-size: 1.125rem;
  font-weight: 600;

  margin-top: 1rem;
  margin-bottom: 3rem;
  background: none;
  border: none;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}