.container {
  padding: 0 2rem;
}

.posts {
  max-width: 624px;
  margin: 1rem auto 0;
}

.title {
  font-weight: 700;
  line-height: 3rem;
  font-size: 1.75rem;
  color: var(--heading);
}

.description {
  line-height: 1.325rem;
  font-size: 1.125rem;
}

.infoContainer {
  margin-top: 1.6rem;
  color: var(--info);
  display: flex;
}






